
header { background: #F4F5F5; height: 100px;}
.row, .col {margin: auto; text-align: center;}

.line-left { 
    background: #25AF4B; 
    height: 5px; 
    margin-top: 50px;
}
.line-right {
    background: #10153E; 
    height: 5px; 
    margin-top: 50px;
}
.logo {
    width: 100%; 
    margin: auto; 
    max-width: 170px; 
    min-width: 120px
}


h1 { 
    font-weight: 700; 
    margin-top: 40px; 
    text-align: center; 
    text-transform: uppercase;
}
.week {text-align: center; font-size: 1.2rem; margin-top: -10px; }
.week a {color: black;}
.week a:hover {opacity: .7;}

h5 {padding: 10px 0px 0px 10px; margin-bottom: -5px; font-size: small;}

.container { max-width: 940px;}

.greyBox {
    position: relative; 
    margin: 50px 0px; 
    background: #F4F5F5; 
    border-radius: 15px;
    box-shadow: 
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075);
}
.same {  border-bottom: 3px solid #10153E;}
.up {  border-bottom: 3px solid #25AF4B;}
.down {  border-bottom: 3px solid #BF2428;}
.up-down {position: absolute; top: 0; right: 0; width: 50px; border-radius: 0px 15px 0px 0px; }
.up-down2 {position: absolute; top: 0; right: 55px; width: 50px; }

.team-info {padding: 10px; line-height: normal; margin-bottom: 10px;}

.team-img {float: left; width: 120px; height: 100px; object-fit: cover; object-position: center; background: white; margin-right: 15px;}
.img-top { object-position: top;}
.team-name { font-size: 24px; font-weight: 700;}
.record { font-size: 18px; font-weight: 400; font-style: italic;}

.write-up {padding: 0px 15px 0px 15px; font-size: 20px;}
.writeUp-img {max-width: 350px; width: 100%; clear: both;}

footer { background: #F4F5F5; height: 60px; padding-top: 10px; border-bottom: 5px solid #10153E;}
footer a { text-align: center;  font-size: 1.2rem; color: black; text-decoration: none;} 
footer a:hover {color: black; opacity: .7;}



@media only screen and (max-width: 768px) {
    .line-left {display: none;} .line-right {display: none;}
    .up-down {width: 25px; }
    .team-name { font-size: 18px;}
    .write-up {font-size: 16px;}
  }